*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;

}
.container {
    width:100%;
    height:auto;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background:#f2f3f7;

}
